<div class='create_skill'>
  <h1 class='login_title'>Create Skill</h1>
    <p class='input_info' ><label for='name' class='creLabel'>Skill 1:</label>
      <input id='name' class='inputValue' type='text'></p>
      <span class='error_msg hidden' id='nameEr'></span>
    <div class='input_info' ><label for='frameWork' class='creLabel'>Skill 2:</label>
      <button class='btn btn-primary' id='addFWBt'>+</button>
      <input id='frameWork' class='frameWork' type='text'></div>
  <p><button class='button btn btn-primary' id='createSkillBt'>Create Skill</button></p>
</div>
<script type='text/template' id='frameWorkTemp'>
  <div class='frameWorkDiv'>
    <button class='btn btn-primary' id='removeFWBt'>-</button>
    <input id='frameWork' class='frameWork' type='text'></p>
  </div>
</script>
