<div>
  <table class='showProjectTable'>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Status</th>
      </tr></thead>
    <tbody class='bodyTb'></tbody>
  </table>
</div>
