<div class='login_main' id='user_login'>
  <h1 class='login_title'>Login - <small>user</small></h1>
    <p><label for='userName' class='creLabel'>Name:</label>
        <input id='userName' class='inputValue' type='text'></p>
        <span class='help-block hidden error_msg' id='nameEr'></span>
    <p><label for='userPassword' class='creLabel'>Password:</label>
        <input id='userPassword' class='inputValue' type='password'></p>
        <span class='help-block hidden error_msg' id='passwordEr'></span>
    <p><button class='button btn btn-primary' data-type='user' id='loginBtUser'>User Login</button></p> 
    <a href='/#' class='admin'>Admin</a>
</div>
<div class='login_main' id='admin_login'>
  <h1 class='login_title'>Login - <small>admin</small></h1>
    <p><label for='adminName' class='creLabel'>Name:</label>
        <input id='adminName' class='inputValue class='creLabel'' type='text'></p>
        <span class='help-block hidden error_msg' id='adminNameEr'></span>
    <p><label for='adminPassword' class='creLabel'>Password:</label>
        <input id='adminPassword' class='inputValue class='creLabel'' type='password'></p>
        <span class='help-block hidden error_msg' id='adminPasswordEr'></span>
    <p><button class='button btn btn-primary' data-type='admin' id='loginBtAdmin'>Admin Login</button></p>
  <a href='/#' class='user'>User</a>
</div>