<div class='menuBar'>
  <a href='#listuser' class='menuLink'>List User</a>
  <a href='#createuser'class='menuLink'>Create User</a>
  <a href='#listproject' class='menuLink'>List Project</a>
  <a href='#createproject' class='menuLink'>Create Project</a>
  <a href='#promembers' class='menuLink'>Resource Allocation</a>
  <a href='#createlanguage' class='menuLink'>Create Language</a>
  <a href='' class='menuLink'>Log Out</a>
</div>
