<p class='input_info'><label for='startDate' class=''>Start Date</label>
  <input  type="text" placeholder="click to show datepicker"  id="startDate" class="inputValue"></p>
  <span class='error_msg hidden' id='startDateEr'></span>
<p class='input_info'><label for='dueDate' class=''>Due Date</label>
  <input  type="text" placeholder="click to show datepicker"  id="dueDate" class="inputValue"></p>
  <span class='error_msg hidden' id='dueDateEr'></span>
<p><button id='btShow'>Show</button></p>
<div class=mainDiv>
  <div id='mainLeft'></div>
  <div id='allMems'></div>
  <div id='ganttArea'></div>
</div>
<script type='text/template' id='ganttTemp'>
  <div class='month'><span href='' class='monTitle'>1</span></div>
  <div class='gantt_hdr week'>1</div>
  <div class='gantt_hdr week'>2</div>
  <div class='gantt_hdr week'>3</div>
  <div class='gantt_hdr week'>4</div>
</script>
<script type='text/template' id='ganttNumMem'>
  <div class='numMem'>
    <p class='tooltip-day tooltip-p'>abc</p>
  </div>
</script>
<script type='text/template' id='name'>
  <div class='projectNameDiv'><a class='projectName'></a></div>
</script>
<script type='text/template' id='dashedLine'>
  <div class='dashedLineDiv'></div>
</script>
<script type='text/template' id='solidLineLeft'>
  <div class='solidLineLeftDiv'></div>
</script>
<script type='text/template' id='solidLineAllMem'>
  <div class='solidLineAllMemDiv'></div>
</script>
<script type='text/template' id='solidLineRight'>
  <div class='solidLineRightDiv'></div>
</script>
<script type='text/template' id='numMonthHref'>
  <a class='numMonth' href='#'>1</a>
</script>
<script type='text/template' id='allMemOfProject'>
  <div class='projectNumDiv'><a class='projectNum'></a></div>
</script>
<script type='text/template' id='membersMonth'>
  <div class='tooltip-month'>
    <table class='projectMonthInfo' border="1">
    <table>
  <div>
</script>
<script type='text/template' id='nameCol'>
  <div class='titleName title'><strong>Name</div>
</script>
<script type='text/template' id='totalCol'>
  <div class='titleTotal title'><strong>Total</div>
</script>
