<div class='skillDiv'>
  <select class='slSkill1s'>
    <option value=''></option>
  </select>
  <input  type='text' class='expText'> year(s)
  <div class='skill2Div'>
    <div class='cbbSkill2s'>
      <select class='slSkill2s'>
      </select>
      <input  type='text' class='expTextLv2'> year(s)
      <button class='btn btn-primary' id='addSkillLv2Bt'>+</button>
    </div>
  </div>
</div>
