<div class='show_skill'>
  <h1 class='login_title'>Update Skill</h1>
    <p class='input_info' ><label for='skill1' class='creLabel'>Skill 1:</label>
      <input id='skill1' class='inputValue' type='text' name='name' ></p>
      <span class='error_msg hidden' id='nameEr'></span>
    <div class='input_info' id='skillLv2'><label class='creLabel' for='skill2'>Skill 2:</label>
      <button class='btn btn-primary' id='addSkillLv2Bt'>+</button>
    </div>
  <p><a class='button btn btn-primary' id='updateSkillBt'>Update Skill</a></p>
</div>
<script id='skill2Temp' type='text/template'>
  <input class='inputValue skill2' type='text' name='name' >
</script>
